@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    color:white;
    box-sizing: border-box;
}

.button{
    background-color: white;
    border:0px none;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
    padding:10px 19px;
}
.active-button{
    background-color: #FFD900;
}

.phoneOnly{
    @media (min-width:361px){
        display: none !important;
    }
}
.pcOnly{
    @media (max-width:361px){
        display: none !important;
    }
}
header{
    background-image: url(./headerBG.png);
    display: flex;
    flex-direction: column;
    height: 1080px;
    @media (min-width:361px){
        align-items: center;
        justify-content: space-between;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:27px 24px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        background-color: rgba(0, 0, 0, 0.65);
        @media (min-width:361px){
            padding:30px 300px;
        }
        .logo{
            font-weight: bold;
            font-size: 24px;
        }
        .offcanvas-header{
            background-color: #212C48;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding:24px;
        }
        .offcanvas-body{
            background-color: #212C48;
            gap:10px;
            
        }
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            gap:30px;
            padding:20px;
            @media (min-width:361px){
                flex-direction: row;
                padding:0;
                margin: 0;
            }
            li{
                font-weight: 500;
                font-size: 18px;
                list-style: none;
                a{
                    text-decoration:none;
                    color:white !important;
                }
            }
        }
    }
    .lozung{
        background-color: rgba(0, 0, 0, 0.65);
        padding:8px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        height: 100vh;
        @media (min-width:361px){
            height:fit-content;
            width:1000px;
            padding:75px;
            gap:100px;
            margin:200px 0 0 477px;
        }
        h1{
            font-weight: bold;
            font-size: 64px;
        }
        span{
            font-weight: 500;
            font-size: 24px;
        }
    }
}

main{
    background-color: #212C48;
    display: flex;
    flex-direction: column;
    padding: 8px;
    section{
        padding:160px 0;
        @media (min-width:361px){
            padding:160px 300px;
         }
    }
    .shopSection{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        display: flex;
        flex-direction: column;
        gap:60px;
        @media (min-width:361px){
           flex-direction: row;
        }
        .sectionHeader{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            @media (min-width:361px){
                max-width:650px;
             }
            h2{
                font-weight: bold;
                font-size: 40px;
            }
            span{
                font-size: 18px;
            }
        }
        .shopFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:18px;
            @media (min-width:361px){
                flex-direction: row;
            }
            img{
                aspect-ratio: 1/1;
                width:240px;
            }
            div{
                display: flex;
                flex-direction: column;
                gap:18px;
                @media (min-width:361px){
                    gap:55px;
                }
                span{
                    font-weight: bold;
                    font-size: 24px;
                }
                button{
                    width:240px;
                }   
            }
            
        }
    }
    .comparerSection{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        display: flex;
        flex-direction: column;
        @media (min-width:361px){
            flex-direction: row;
            gap:20px;
        }
        .sectionHeader{
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            h2{
                font-weight: bold;
                font-size: 40px;
            }
            button{
                width:240px;
            }
        }
        .comparing{
            display: flex;
            flex-direction: column;
            gap:42px;
            .result{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:10px;
                .lineScale{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }
    .constructorSection{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        display: flex;
        flex-direction: column;
        gap:60px;
        @media (min-width:361px){
            flex-direction: row;
            align-items: center;
        }
        .sectionHeader{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            h2{
                font-weight: bold;
                font-size: 40px;
            }
            span{
                font-size: 18px;
            }
        }
        .constructorFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:18px;
            button{
                width:240px;
            }
        }
    }
}

.footer{
    background-color: #252B42;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    padding:8px;
    gap:80px;
    @media (min-width:361px){
        padding:8px 300px;
        width:100%;
    }
    .footerHeader{
        display: flex;
        flex-direction: column;
        gap:24px;
        @media (min-width:361px){
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .logo{
            font-weight: bold;
            font-size: 24px;
            padding:12px;
        }
        .socials{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }
    }

    .about{
        display: flex;
        flex-direction: column;
        gap:30px;
        @media (min-width:361px){
            flex-direction:row ;  
            justify-content: space-evenly; 
            width: 100%;
        }
        .aboutSection{
            display: flex;
            flex-direction: column;
            gap:20px;
            h6{
                font-weight: bold;
                font-size: 18px;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap:10px;
                padding:0;
                li{
                    
                    a{
                        color:#BDBDBD;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}